<template>
  <h1>Qui êtes vous ?</h1>

  <form v-if="signup" action="">
    <h2>Créer un compte</h2>
  </form>

  <form v-else action="">
    <h2>Se connecter</h2>
  </form>
  <button @click="signup = !signup">switch</button>
</template>

<script>
export default {
  name: 'Auth.vue',
  data: () => {
    return {
      signup: true
    }
  }
}
</script>

<style scoped>

</style>
