<template>
  <div class="home">
    <p>Ma page qui contient des cartes</p>
    <div class="error" v-if="errorMessage">{{ errorMessage }}</div>
    <Card v-for="(adherent, $index) in adherents"
          :title="adherent.nom"
          :key="$index"
          :description="'Né(e) le ' + adherent.dateNaissance + (adherent.dateAdhesion? ' et membre depuis ' + adherent.dateAdhesion: '')"
          :img="adherent.avatar"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Card from '@/components/Card'

export default {
  name: 'Home',
  components: {
    Card
  },
  data: () => {
    return {
      adherents: [],
      errorMessage: null
    }
  },
  created () {
    fetch('http://monserveur.php/adherents')
      .then(response => response.json())
      .then(data => {
        this.adherents = data
      })
      .catch(() => {
        this.errorMessage = 'Impossible de récupérer les adhérents, des adhérents factices ont été chargés à la place'
        this.adherents = [
          { nom: 'jojo', dateNaissance: '10/12/2000', dateAdhesion: null },
          { nom: 'titi', dateNaissance: '10/02/2000', avatar: 'toto.jpg' },
          { nom: 'tutu', dateNaissance: '08/12/2000', dateAdhesion: '05/12/2003', avatar: null },
          { nom: 'toto', dateNaissance: '24/12/2000', dateAdhesion: '05/04/2003', avatar: '' },
          { nom: 'lili', dateNaissance: '10/12/1901', avatar: '' },
          { nom: 'lulu', dateNaissance: '10/12/1903', dateAdhesion: '05/02/2001', avatar: '' }
        ]
      })
  }
}
</script>

<style>
.error {
  background: #ffa2a2;
  padding: 20px;
  color: red;
}
</style>
