<template>
  <canvas id="bar" width="400" height="400"></canvas>
  <canvas id="pie" width="800" height="400"></canvas>
</template>
<script>
import Chart from 'chart.js'

export default {
  data: () => {
    return {
      languages: [
        { label: 'javascript', points: 23 },
        { label: 'java', points: 12 },
        { label: 'python', points: 45 },
        { label: 'php', points: 25 },
        { label: 'fortran', points: 3 },
        { label: 'fortran', points: 3 },
        { label: 'ocaml', points: 6 }
      ]
    }
  },
  mounted () {
    // Afficher mes deux graphiques
    const ctxBar = document.querySelector('#bar').getContext('2d')
    const ctxPie = document.querySelector('#pie').getContext('2d')

    // eslint-disable-next-line no-new
    new Chart(ctxBar, {
      type: 'bar',
      data: {
        labels: this.languages.map(item => item.label),
        datasets: [{
          label: '# of Programmers',
          data: this.languages.map(item => item.points),
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    })

    // eslint-disable-next-line no-new
    new Chart(ctxPie, {
      type: 'pie',
      data: {
        datasets: [{
          data: this.languages.map(item => item.points),
          backgroundColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          label: 'Langages de programmation'
        }],
        labels: this.languages.map(item => item.label)
      },
      options: {
        defaultFontSize: 50,
        responsive: true,
        legend: {
          options: {
            defaultFontSize: 30,
            fontSize: 30
          }
        }
      }
    })
  }
}
</script>

<style scoped>
  canvas {
    max-height: 500px;
  }
</style>
