<template>
  <div class="card">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <img :src="calculatedImgURL" alt="">
  </div>
</template>

<script>
export default {
  props: {
    title: { type: String, default: 'Titre PAR DEFAUT' },
    description: { type: String, default: 'Ze petite description par défaut' },
    img: { type: String, default: null }
  },
  computed: {
    calculatedImgURL () {
      if (!this.img) {
        return 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.parcanimalierdauvergne.fr%2Fwp-content%2Fuploads%2F2019%2F04%2Flapin-2.jpg&f=1&nofb=1'
      }
      return './avatars/' + this.img
    }
  }
}
</script>

<style scoped>
.card {
  position: relative;
  box-shadow: 5px 0 25px #ccc;
  width: 300px;
  height: 80px;
  display: inline-block;
  margin: 20px;
  text-align: left;
}
.card > * {
  position: absolute;
  padding: 0;
  margin: 0;
}
h2 {
  top: 10px;
  left: 80px;
  height: 0px;
  width: calc(100% - 90px);
  font-size: 20px;
}
p {
  top: 35px;
  left: 80px;
  height: 0px;
  width: calc(100% - 90px);
  font-size: 0.8em;
  color: #666;
}
img {
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
  background: #2c3e50;
  border-radius: 30px;
}
</style>
