<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/about">Se connecter</router-link> |
    <router-link to="/me">Mon compte</router-link>
  </div>
  <router-view/>
</template>

<script>
// TODO: Si l'utilisateur n'est pas connecté, on le redirige vers l'authent
export default {
  data: () => {
    return {
      adherents: [
        { id: 'zfzergf', login: 'zzfgerger' },
        { id: 'ergliuer', login: 'zuhzeu' }
      ]
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: aliceblue;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
